__pycache__/
*.pyc
.venv/

# Ignore ALL models EXCEPT your main one
*.pkl
!PricingNRevenue/OpNopModel/opvsnonop/models/model.pkl

# Ignore ALL csv EXCEPT required ones
*.csv
!PricingNRevenue/OpNopModel/opvsnonop/data/clean_data.csv